In [1]:
print('Hello World')
print('Hello World {} + {} = {}'.format(2, 3, 2+3))

Hello World
Hello World 2 + 3 = 5

In [2]:
x = 3
print(type(x)) #prints "<class 'int'>"
print(x) #print "3"

<class 'int'>
3

In [3]:
print(x+1)
print(x-1)
print(x*2)
print(x**2)

4
2
6
9

In [4]:
A=range(5)
print(A)

range(0, 5)

In [5]:
print(A[2])

2

In [6]:
for i in range(5):
    #print(i, A[i])
    print('{} ----- {}'.format(i, A[i]))

0 ----- 0
1 ----- 1
2 ----- 2
3 ----- 3
4 ----- 4

In [7]:
for i in range(9):
    print('{} x {} = {}'.format(2, i, 2*i))

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16

In [8]:
print((1, 2, 3)*3)
print([1, 2, 3]*3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

In [9]:
#_*_ coding: utf_8 _*_
#creating a tuple
months = ('January','February','March','April','May','June',
'July','August','September','October','November','December')

print(months[0])
print("index of 7 ==> )" , months[7])

January
index of 7 ==> ) August

In [10]:
#iterate through them:
for item in months:
    print(item)

January
February
March
April
May
June
July
August
September
October
November
December

In [11]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2])
print(t[2][1])
print(t[:2]) #index 포함 X
print(t[2:]) #index 포함 O

print(t[-1])
print(t[-2])

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
((2, 3, 4, 5), 'hello')
hello
(2, 3, 4, 5)

In [12]:
li = ['hallym', 1, 3.141572, 'hello']
print(li)

['hallym', 1, 3.141572, 'hello']

In [13]:
li[1] = 45
print(li)

['hallym', 45, 3.141572, 'hello']

In [14]:
li.append('September')
print(li)

['hallym', 45, 3.141572, 'hello', 'September']

In [15]:
v = []

In [16]:
for i in range(0,3):
    v.append(i*5)
    print(i, v)

0 [0]
1 [0, 5]
2 [0, 5, 10]

In [17]:
print((1,2,3)+(4,5,6))
print([1,2,3]+[4,5,6])
print("Hello"+" "+"World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

In [18]:
y = 2.5
print(type(y)) #prints "<class 'float'>"
print(y, y+1, y*2, y**2) #prints "2.5 3.5 5.0 6.25"

<class 'float'>
2.5 3.5 5.0 6.25

In [19]:
for i, val in enumerate(v):
    print('{} ---> {}'.format(i, val))

0 ---> 0
1 ---> 5
2 ---> 10

In [20]:
v2 = ['A', 'B', 'C', '0', '1', '2', '3']
print(v2)

['A', 'B', 'C', '0', '1', '2', '3']

In [21]:
for i, val in enumerate(v2):
    print('{} ---> {}'.format(i, val))

0 ---> A
1 ---> B
2 ---> C
3 ---> 0
4 ---> 1
5 ---> 2
6 ---> 3